.new-user {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;

	.new-user__new {
		display: flex;
		background-color:#15AA3F;
		padding: 3px 10px;
		border-radius: 3px;
		cursor: pointer;
	}
}

.card {
	padding: 20px;

	.table-users  {
		padding: 20px;

		thead tr th {
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
	  	color: #9A9A9A;
	  	padding: 10px;
		}

		tbody, td, tfoot, th, thead, tr {
			border-style: none;
			box-shadow: none;
		}

		th, td {
			border-bottom: 1px solid #dee2e6;
		}	

		td:last-child {
			display: flex;
			justify-content: center;
		}

		tbody td {
			height: 75px;
			align-items: center;
			vertical-align: middle;
			padding: 10px;
		}

		tbody td:nth-last-child(2) {
			padding-right: 3px;
		}

		.block-edit {
			background-color: #C8C0C0;
			border-radius: 3px;
			padding: 1px 8px;
			margin-right: 5px;

		.edit {
			font-size: 16px;
 	}
}

		.block-delete {
			background-color: red;
			color: white;
			border-radius: 3px;
			padding: 1px 8px;

				.delete {
					font-size: 16px;
					cursor: pointer;
					margin: 0;
				}
			}

			#img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
		}

	}
}